.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;

  font-size: 16px;
  line-height: 24px;
  font-family: inherit;

  background: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  transition: 0.2s;

  &:hover,
  &:focus {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;

    pointer-events: none;
  }

  &--primary {
    color: $base-white;

    background-color: $base-primary;
  }

  &--secondary {
    color: $base-primary;

    background-color: $base-white;

    &:hover,
    &:focus {
      color: $base-white;
    }

    &:disabled {
      color: $base-white;

      background-color: $light-grey;
    }
  }

  &--cart {
    &::before {
      content: "";

      flex-shrink: 0;
      width: 20px;
      height: 16px;
      margin-right: 6px;

      background-image: url("../../img/svg/union-cart.svg");
      background-repeat: no-repeat;
    }
  }

  &--divider {
    font-weight: 600;
    color: $base-black;

    pointer-events: none;
  }
}
